body{
  background-image: url(../assets/img/color-explosion-color-splash-beautiful-colorful-particle-2560x1440-8422.jpg);
  background-size: cover;
}
.background-greed{
  background-color: royalblue;
}
.container-sqr-h{
  background-color: rgba(49, 95, 234, 0.591);
  width: 500px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}
.container-sqr-m{
  background-color: rgba(65, 105, 225, 0.638);
  width: 450px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;

}
.container-sqr-e{
  background-color: rgba(96, 126, 216, 0.57);
  width: 350px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;

}
.sqr{
  width: 50px;
  height: 50px;
  border: 4px outset rgb(141, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
.clicked{
  font-weight: bold;
  font-size: 1.5rem;
  border: 5px inset rgb(0, 97, 71);
  background-color: #0bcdb2;
}
.container-btn{
  text-align: center;
  margin: 20px 0px;
}
.container-btn button{
  color: white;
  border: #0bcdb2 4px outset;
  background-color: #0064c8;
  margin: 0px 20px;
}
.container-btn select{
  border: 3px outset #0bcdb2;
  background-color: #0064c8;
  color: white;
}