main{
  height: 100vh;

  background-color: greenyellow;
}
.container-sqr-h{
  width: 500px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}
.container-sqr-m{
  width: 450px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;

}
.container-sqr-e{
  width: 350px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;

}
.sqr{
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clicked{
  background-color: aqua;
}